body{
  background-repeat: no-repeat;
  background-size: cover;

}
h1{
    font-size: 90px;
color: green;
  background-color: khaki;
    text-align: center;
    
}
h2{
    font-size: 50px;
}
h2{
    font-size: 50px;
    color:green;
    text-align: center;
} 
p {
    font-family: verdana;
    font-size: 25px;
    color:green;
  text-align: center;

  }
 a{
   color:green;
   font-size: 20px;
   text-decoration: none;
   padding: 5px;
 }
nav a{
  padding: 20px;
  font-size: 80px;

}
footer a{
  padding: 20px;
  font-size: 50px; 
}
